<!-- start custom footer snippets -->
<style>

.custom-footer {
  font-size: 16px;
  text-transform: none;
}
  
.privacy-policy {
  float: right;  
}
  
.contacto {
  float: left;
}
  
</style>
  
<table class="custom-footer">
  <tbody>
    <tr>
      <td>
        <div class="contacto">
          <span><strong>CONTACTO:</strong> identidad.penarolense@gmail.com</span>
        </div>
      </td>
      <td>
        <div class="privacy-policy">
          <a href="{{ site.url }}/{{ site.baseurl }}/privacy-policy"><span><strong> Privacy Policy</strong></span></a>
        </div>
      </td>
    <tr>
  </tbody>
</table>
<!-- end custom footer snippets -->
