<!-- start custom footer snippets -->
<style>
  .contato {
    font-size: 16px;
    text-transform: none;
    margin-right: 35px;
  }
</style>
  <table>
    <tbody>
      <tr>
        <td class="contato">
          <strong>CONTACTO:</strong><span style="margin-left: 10px;">identidad.penarolense@gmail.com</span>
        </td>
        <td class="contato"><a href="{{ site.url }}/{{ site.baseurl }}/privacy-policy"><span><strong>Privacy Policy</strong></span></a>
        </td>
      <tr>
    </tbody>
  </table>
<!-- end custom footer snippets -->
